<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA - Análises de Sentimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stye.css')}}">
</head>
<body>
    <div class="cotainer">
        <h2>Analise de Feedbacks do Sentimentos de Um Cliente</h2>
        <p class="subtitle">Modelo treinado com Machine Learning</p>

        <form id="form-anlise">
            <textarea id="texto-de-avaliacao" placeholder=
            "Colando a avalidacao do cliente aqui.." required></textarea>
            <button type="submit" id="btn-analisar">Analisar Sentimentos</button>
        </form>

        <div id="resultado-box">
            <p><strong>Texto: </strong><br><i id="texto-exibido"></i></p>
            <p><strong>Veridito da IA: </strong><span id="veredito-exibido"></span></p>
            <p><small>Confianca Estatística: 
                <b id="confianca-exibido"></b><b>%</b></small></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>